#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #f7f7f7;
  position: absolute;
}
body {
  margin: 0;
}

.home {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  background: rgba(15, 15, 15, 0.95);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 2 / 8;
  padding: 1rem;
  grid-gap: 1rem;
}
